@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) { //600px
      @content
    };
  }
  @if $breakpoint == tab-land { //920px
    @media only screen and (min-width: 57.5em) {
      @content
    };
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) { //1200px
      @content
    };
  }
  @if $breakpoint == big {
    @media only screen and (min-width: 120em) { //1800px
      @content
    };
  }
}

@mixin background {
  background: $color-grey-dark-3;
  background-image: url(../../img/broken_noise.png);
  background-size: 20rem;
  animation: 1.1s infinite noise;

  @include respond(tab-land){
    background-size: 30rem;
    animation: 1.3s infinite noise;
  }
}